#button{
    background: url('https://i.pinimg.com/originals/e5/8f/52/e58f521070bf76ac69d583923b499012.gif') no-repeat;
    width: 500px;
    height: 500px;
    border: none;
    float: left;
}
#cash{
    font-size: 120px;
    color: green;
    margin-left: 50px;
    float: right;
}
#upgrade{
    float: right;
    width: 430px;
}
#up{
    width: 100%;
    height: 150px;
    background: url('https://th.bing.com/th/id/R.0a4e4fdbba7521a8df432174dcc2f4ae?rik=VijnjrwsB0WzCg&pid=ImgRaw&r=0') center;
    border: 1px solid gray;
    float: right;
}
#up2{
    width: 100%;
    height: 150px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrfRPT2vgT6NuWmt2WSSvwu-JlkBTDgHla2g&usqp=CAU') center;
    border: 1px solid gray;
    margin-top: 20px;
    float: right;
}
body{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu-j0L377uVvKa2Xms05C84-3UBuArYNmwomwCVPB8V-RBLq7pfH2JmBIwNeNNkE8emcE&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
}
#upgrades{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    width: 100%;
    height: 165px;
    margin-top: 20px;
    background-color: gray;
    border: 2px solid rgb(51, 51, 51);
    font-size: 35px;
    color: pink;
}